html, body {
    height: 100%;
    margin: 0px;
}

body{
    background-image: url("img/wavy-black-white-background\(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Geist", sans-serif;
}


a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    margin: 12px;
}

nav{
    display: flex;
    justify-content: flex-end;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    margin-top: 95%; /*alterar*/
}

.titulo p{
    color: #8A8A8A;    
    font-weight: 200;
    font-size: 64px;
    margin: 0px;
}

.dark-text{
    color: black;
}

.titulo{
    margin-top: 10%;
    margin-left: 5%;
}